<div class="display-budgets-container">
        <h1>Budżety</h1>
        <table *ngIf="(budgets | async) as budgets; else loading">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Początek</th>
                    <th>Koniec</th>
                    <th>Kategorie</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let budget of budgets; let i = index">
                    <td>{{ budget.name }}</td>
                    <td>{{ budget.startDate }}</td>
                    <td>{{ budget.endDate }}</td>
                    <td>
                        <div class="single-budget-category" *ngFor="let singleCategory of budget.categories; let j = index">
                            <p>Name: {{ singleCategory.name }}</p>
                            <p>Declared amount (limit): {{ singleCategory.declaredAmount }}</p>
                            <p>Entered amount: {{ singleCategory.enteredAmount }}</p>
                        </div>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" (click)="remove(budget)">DELETE</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #loading>
            <mat-spinner></mat-spinner>
        </ng-template>

    </div>
