.main-nav-container {
    width: 200px;
    margin-top: 50px;

    ul {
        width: 70px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 100%;
            margin: 10px;
        }
    }
}
