<mat-sidenav-container class="sidenav-container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <button mat-icon-button (click)="close('toggle button')">
            <mat-icon>menu</mat-icon>
        </button>

        <nav class="main-nav-container">
            <ul>
                <li><a mat-raised-button color="warn" (click)="sidenav.close()" routerLink="/home/dashboard">Dashboard</a></li>
                <li><a mat-raised-button color="primary" (click)="sidenav.close()" routerLink="/home/add-product">Dodaj produkt</a></li>
                <li><a mat-raised-button color="primary" (click)="sidenav.close()" routerLink="/home/add-expense">Dodaj wydatek</a></li>
                <li><a mat-raised-button color="primary" (click)="sidenav.close()" routerLink="/home/add-income">Dodaj przychód</a></li>
                <li><a mat-raised-button color="primary" (click)="sidenav.close()" routerLink="/home/add-budget">Dodaj budżet</a></li>
                <li><a mat-raised-button color="accent" (click)="sidenav.close()" routerLink="/home/manage-products">Zarządzaj produktami</a></li>
                <li><a mat-raised-button color="accent" (click)="sidenav.close()" routerLink="/home/manage-expenses">Zarządzaj wydatkami</a></li>
                <li><a mat-raised-button color="accent" (click)="sidenav.close()" routerLink="/home/manage-incomes">Zarządzaj przychodami</a></li>
                <li><a mat-raised-button color="accent" (click)="sidenav.close()" routerLink="/home/manage-budgets">Zarządzaj budżetami</a></li>
                <li><a mat-raised-button color="warn" (click)="sidenav.close()" routerLink="/home/manage-monthly-fees">Zarządaj miesięcznymi opłatami</a></li>
                <li></li>
                <li><a mat-raised-button color="warn" (click)="logout()">Wyloguj</a></li>
            </ul>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-icon-button (click)="sidenav.open()" *ngIf="userDataRepository.loggedIn">
            <mat-icon>menu</mat-icon>
        </button>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
