.display-income-container {
    height: 100vh;

    h1 {
        text-align: center;
        margin-bottom: 0;
    }

    table {
        font-size: 12px;
        border-collapse: collapse;

        tr {
            height: 80px;
            padding: 10px;
        }

        thead {
            tr {
                border-bottom: 1px solid #ddd;
            }
        }

        tr:nth-child(even) {
            background-color: #eee;
        }

        td {
            height: 80px;
            width: 150px;
        }
    }
}
