:host {
    width: 100%;

    .add-budget-container {
        width: 100%;
        max-width: 500px;
        margin: 20px auto;

        h1 {
            text-align: center;
            margin-bottom: 0;
        }

        .add-budget-form {
            margin: 0 20px;

            .budget-category-input-container {
                margin-top: 50px;
            }
        }

        mat-form-field {
            width: 100%;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
        }

        mat-card {
            margin-top: 40px;
        }
    }
}
