<div>
    <h1>Chart And Analyze</h1>
    <div class="chart-and-analyze">
        <div>
            <h2>Całkowite przychody / Całkowite wydatki</h2>
            <canvas
                *ngIf="isSumOfIncomesCalculated && isSumOfExpensesCalculated"
                baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="'doughnut'">
            </canvas>
            <canvas
                *ngIf="isSumOfIncomesCalculated && isSumOfExpensesCalculated"
                baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="'pie'">
            </canvas>

        </div>

        <!-- <div class="chart-and-analyze-module">
            <h2>Moduł - Miesięczne wydatki</h2>
            <div class="monthly-expenses">
                <ul>
                    <li *ngFor="let expense of expenses"> {{ expense?.name }}: <strong>{{ expense?.expense | currencyPln }}</strong></li>
                </ul>
                <p>Łącznie: <strong>{{ expenseSum | currencyPln }}</strong></p>
            </div>
        </div>
        <div class="chart-and-analyze-module">
            <h2>Moduł - Miesięczne przychody</h2>
            <div class="monthly-expenses">
                <ul>
                    <li *ngFor="let revenue of revenues"> {{ revenue?.name }}: <strong>{{ revenue?.revenue | currencyPln }}</strong></li>
                </ul>
                <p>Łącznie: <strong>{{ revenueSum | currencyPln }}</strong></p>
            </div>
        </div>
        <div class="chart-and-analyze-module">
                <h2>Moduł - Miesięczny status pieniężny po odjęciu wymaganych opłat</h2>
                <div class="monthly-expenses">
                    <h1>{{ currentMoney | currencyPln }}</h1>
                </div>
            </div>
        <div class="chart-and-analyze-module">
            <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
        </div>
        <div class="chart-and-analyze-module">Moduł 5</div>
        <div class="chart-and-analyze-module">Moduł 6</div>
        <div class="chart-and-analyze-module">Moduł 7</div>
        <div class="chart-and-analyze-module">
            <canvas baseChart
                class="chart"
                [datasets]="datasets"
                [labels]="labels"
                [options]="options"
                [chartType]="'line'">
            </canvas>
        </div>
        <div class="chart-and-analyze-module">
            <canvas baseChart
                class="chart"
                [datasets]="datasets2"
                [labels]="labels2"
                [options]="options"
                [chartType]="'line'">
            </canvas>
        </div>
        <div class="chart-and-analyze-module">Moduł 10</div> -->
    </div>
</div>
