.display-product-container {
    margin: 50px;
    padding: 10px;

    h1 {
        margin: 0;
        padding: 0;
    }

    table {
        border-collapse: collapse;

        tr {
            height: 80px;
            padding: 10px;
            border-bottom: 1px solid black;
        }
        td {
            height: 80px;
            width: 150px;
        }
    }
}
