:host {
    width: 100%;

    .adding-products-container {
        width: 500px;
        margin: 0 auto;



        mat-form-field {
            width: 100%;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
        }

        mat-card {
            margin-top: 40px;
        }
    }
}
