<div class="adding-products-container" [formGroup]="formGroup">
    <div class='form-group'>
            <label>
                <span>Product name</span>
                <input
                    class='form-control'
                    type="text"
                    [formControlName]="'productName'">
            </label>
            <label>
                    <span>Product company name</span>
                    <input
                        class='form-control'
                        type="text"
                        [formControlName]="'productCompanyName'">
                </label>
            <label>
                <span>Product price</span>
                <input
                    class='form-control'
                    type="number"
                    [formControlName]="'productPrice'">
            </label>
            <button (click)="add(formGroup.value)">Add</button>
        </div>
</div>
