<div class="manage-product-container">
    <h1>Produkty</h1>
    <table *ngIf="(products | async) as products; else loading">
        <thead>
            <tr>
                <th>id</th>
                <th>index</th>
                <th>Nazwa produktu</th>
                <th>Nazwa firmy</th>
                <th>Zdjęcie</th>
                <th>Cena</th>
                <th>Waga</th>
                <th>Kategoria</th>
                <th>Typ policzalności</th>
                <th>Tagi</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = index">
                <td><strong>?</strong></td>
                <td><strong>{{ i }}</strong></td>
                <td>{{ product.productName }} </td>
                <td>{{ product.productCompanyName }}</td>
                <td>{{ product.productImage }}</td>
                <td>{{ product.productPrice }}</td>
                <td>{{ product.productWeight }}</td>
                <td>{{ product.productCategory }}</td>
                <td>{{ product.productQuantitativeType }}</td>
                <td>{{ product.productTags }}</td>
                <td><button mat-raised-button color="primary" (click)="edit(product)">EDYTUJ</button></td>
                <td><button mat-raised-button color="primary" (click)="remove(product)">USUŃ</button></td>
            </tr>
        </tbody>
    </table>

    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>

</div>
