<div class="display-expense-container">
    <h1>Wydatki</h1>
    <div class="charts-section">
        <div>
            <h2>Wykres kategorii</h2>
            <canvas
                *ngIf="isExpenseCategoryLoaded"
                baseChart
                [data]="expenseCategoryChartData"
                [labels]="expenseCategoryChartLabels"
                [chartType]="'pie'"
                [options]="chartOptions">
            </canvas>
        </div>
        <div>
            <h2>Wykres metod płatności</h2>
            <canvas
                *ngIf="isPaymentMethodLoaded"
                baseChart
                [data]="paymentMethodChartData"
                [labels]="paymentMethodChartLabels"
                [chartType]="'pie'"
                [options]="chartOptions">
            </canvas>
        </div>

        <div>
            <h2>Wykres słupkowy kategorii</h2>
            <canvas
                *ngIf="isExpenseCategoryLoaded"
                baseChart
                [data]="expenseCategoryChartData"
                [labels]="expenseCategoryChartLabels"
                [chartType]="'bar'"
                [options]="barChartOptions">
            </canvas>
        </div>
        <div>
            <h2>Wykres słupkowy metod płatności</h2>
            <canvas
                *ngIf="isPaymentMethodLoaded"
                baseChart
                [data]="paymentMethodChartData"
                [labels]="paymentMethodChartLabels"
                [chartType]="'bar'"
                [options]="barChartOptions">
            </canvas>
        </div>

    </div>
    <table *ngIf="(expenses$ | async) as expenses$; else loading">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Kategoria</th>
                <th>Budżet</th>
                <th>Kategoria budżetu</th>
                <th>Miejsce</th>
                <th>Data</th>
                <th>Ilość sztuk</th>
                <th>Metoda płatności</th>
                <th>Cena</th>
                <th>Łączny koszt</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of expenses$; let i = index">
                <td>{{ expense.name }}</td>
                <td>{{ expense.expenseCategory }}</td>
                <td>{{ expense.choosedBudget }}</td>
                <td>{{ expense.choosedBudgetCategory }}</td>
                <td>{{ expense.where }}</td>
                <td>{{ expense.when }}</td>
                <td>{{ expense.qt }}</td>
                <td>{{ expense.paymentMethod }}</td>
                <td>{{ expense.cost }}</td>
                <td>{{ expense.totalCost }}</td>
                <td>
                    <button mat-raised-button color="primary" (click)="edit(expense)">EDYTUJ</button>
                </td>
                <td>
                    <button mat-raised-button color="primary" (click)="remove(expense)">USUŃ</button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>

</div>
