<div class="add-income-container" [formGroup]="formGroup">
    <h1>Update Income</h1>
    <div class="add-income-form">
        <mat-form-field>
            <input matInput type="text" [formControlName]="'name'" placeholder="Nazwa przychodu">
            <mat-hint align="end">Wprowadź nazwę przychodu</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="date" [formControlName]="'when'" placeholder="Data uzyskania przychodu">
            <mat-hint align="end">Wprowadź datę uzyskania przychodu</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Metoda uzyskania przychodu" name="paymentMethod" [formControlName]="'paymentMethod'">
                <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.viewValue">
                    {{ paymentMethod.viewValue }}
                </mat-option>
            </mat-select>
            <mat-hint align="end">Wybierz metodę uzyskania przychodu</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [formControlName]="'value'" placeholder="Kwota przychodu">
            <span matPrefix>PLN&nbsp;</span>
            <mat-hint align="end">Wprowadź kwotę przychodu</mat-hint>
        </mat-form-field>

        <div class="buttons">
            <button class="cancel-btn" mat-raised-button (click)="cancel()">Zakończ</button>
            <button class="add-btn" mat-raised-button color="primary" (click)="confirm()">Aktualizuj</button>
        </div>
    </div>

    <mat-card *ngIf="isErrorMsgVisible && !formGroup.valid">
        <mat-card-content>
            <p style="text-align: center; color: red; font-size: 16px;">Wprowadź wszystkie dane</p>
        </mat-card-content>
    </mat-card>
</div>
