<div class="add-expense-container" [formGroup]="formGroup">
    <h1>Add expense</h1>
    <div class="add-expense-form">
        <mat-form-field>
            <input matInput type="text" [formControlName]="'name'" placeholder="Expense name">
            <mat-hint align="end">Insert expense name</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" [formControlName]="'where'" placeholder="Where bought">
            <mat-hint align="end">Insert where you bought item</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="date" [formControlName]="'when'" placeholder="When bought">
            <mat-hint align="end">Insert when you bought item</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [formControlName]="'qt'" placeholder="How many qt ?">
            <mat-hint align="end">Insert number of items</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Payment list" name="paymentMethod" [formControlName]="'paymentMethod'">
                <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.value">
                    {{ paymentMethod.viewValue }}
                </mat-option>
            </mat-select>
            <mat-hint align="end">Choose payment method</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [formControlName]="'cost'" placeholder="What is the cost of item ?">
            <span matPrefix>PLN&nbsp;</span>
            <mat-hint align="end">Insert cost</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" [formControlName]="'totalCost'" [value]="calcTotal()">
            <span matPrefix>PLN&nbsp;</span>
            <mat-hint align="end">Total cost</mat-hint>
        </mat-form-field>


        <div class="buttons">
            <button class="cancel-btn" mat-raised-button (click)="cancel()">Cancel</button>
            <button class="add-btn" mat-raised-button color="primary" (click)="confirm()">Update</button>
        </div>
    </div>

    <mat-card *ngIf="isErrorMsgVisible && !formGroup.valid">
        <mat-card-content>
            <p style="text-align: center; color: red; font-size: 16px;">Wprowadź wszystkie dane</p>
        </mat-card-content>
    </mat-card>
</div>
