<div>
    <div class="dashboard-container">
        <h1>Dashboard</h1>
        <div class="dashboard">
            <a class="dashboard-module" mat-raised-button color="primary" routerLink="/home/add-expense">
                <h2>DODAJ WYDATEK</h2>
            </a>
            <a class="dashboard-module" mat-raised-button color="primary" routerLink="/home/add-income">
                <h2>DODAJ PRZYCHÓD</h2>
            </a>
            <a class="dashboard-module" mat-raised-button color="primary" routerLink="/home/add-budget">
                <h2>DODAJ BUDŻET</h2>
            </a>
            <a class="dashboard-module" mat-raised-button color="accent" routerLink="/home/manage-expenses">
                <h2>ZARZĄDZAJ WYDATKAMI</h2>
            </a>
            <a class="dashboard-module" mat-raised-button color="accent" routerLink="/home/manage-incomes">
                <h2>ZARZĄDZAJ PRZYCHODAMI</h2>
            </a>
            <a class="dashboard-module" mat-raised-button color="accent" routerLink="/home/manage-budgets">
                <h2>ZARZĄDZAJ BUDŻETAMI</h2>
            </a>
            <a class="dashboard-module" mat-raised-button color="primary" routerLink="/home/chart-and-analyze">
                <h2>WYKRESY I ANALIZA</h2>
            </a>
        </div>
    </div>
</div>
