.dashboard-container {
    height: calc(100vh - 60px); // TODO: I have to change it - in different place should be information how big it is
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    &-module {
        padding: 10px;
        margin: 10px;
        width: 500px;
        height: 250px;
    }
}
